<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="db4o-cs-devel" version="8.1.184.15492" targetFramework="net462" />
  <package id="db4o-devel" version="8.1.184.15492" targetFramework="net462" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net462" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net462" />
  <package id="MongoDB.Bson" version="2.4.0" targetFramework="net462" />
  <package id="MongoDB.Driver" version="2.4.0" targetFramework="net462" />
  <package id="MongoDB.Driver.Core" version="2.4.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="4.3.0" targetFramework="net462" />
  <package id="System.Data.SQLite" version="1.0.103" targetFramework="net462" />
  <package id="System.Data.SQLite.Core" version="1.0.103" targetFramework="net462" />
  <package id="System.Data.SQLite.EF6" version="1.0.104.0" targetFramework="net462" />
  <package id="System.Data.SQLite.Linq" version="1.0.104.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net462" />
</packages>